body {
    font-family:  BOLD ITALIC 2 ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #EBE2BE;
    width: 80%;
}
.Titulo h1 {
    font-family:  MEDIEVAL ;
    font-weight: 500;
    font-size: 350%;
    padding-bottom: 0;
}

.Titulo h2 {
    font-family:  MEDIEVAL ;
    font-weight: 500;
    font-size: 250%;
    padding-top: 3px;
}

.Titulo h3 {
    font-family:  MEDIEVAL ;
    font-weight: 500;
    font-size: 250%;
}
.Cuerpo h3{
    font-family:  MEDIEVAL ;
    padding-bottom: 15px;
    font-size: 200%;
    text-align: center;
    color: #272625;
    text-transform: uppercase;
}
p {
   font-family:  BOLD ITALIC 2 ; 
    font-size: 210%;
    max-width: 90rem;
    margin: 0 auto 0.5em;
    text-align: justify;
    white-space: pre-line;
}
#imgeVenado {
    width: 20%;
    height: 20%;
}
#imgecordero {
    width: 20%;
    height: 20%;
}
.Opinion h1 {
    font-family:  MEDIEVAL ;
    padding-bottom: 15px;
    font-size: 35px;
    text-align: center;
    color: #272625;
    text-transform: uppercase;
}
.Glosario h2, h3{
    font-family:  MEDIEVAL ;
    padding-bottom: 15px;
    font-size: 200%;
    text-align: center;
    color: #272625;
    text-transform: uppercase;
}
.Glosario h3, h2{
    font-family:  MEDIEVAL ;
    padding-bottom: 15px;
    font-size: 200%;
    text-align: center;
    color: #272625;
    text-transform: uppercase;
}
dd, dt{
    font-size: 200%;
    max-width: 90rem;
    margin: 0 auto 0.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    white-space: pre-line;
}

dt {
    columns: #252727;
    font-style: italic;
    font-weight: bold;
}
.Extra a{
    text-decoration: none;
    display: block;
    text-align: center;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0;
    font-size: 150%;
    font-family:  MEDIEVAL ;
    color: #000000; 
}
html{
    background: url(fondo.jpg);
}
